<!DOCTYPE html>

<html xmlns="http://www.w3.org/1999/html">

<head>
    <meta charset="utf-8"/>

    <title>Блок новостей</title>

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js"></script>
</head>

<body>

<div class="container">
    <h1>Главная страница</h1>
</div>
</body>
</html>
